<h1>管理者ページ</h1>

<h4>新規投稿一覧</h4>
 <%= render 'public/cosme_items/index', cosmeitems: @cosmeitems %>

<h3>会員一覧</h3>

<table class="table">
  <tr>
    <th>会員ID</th>
    <th>名前</th>
    <th>メールアドレス</th>
    <th>ステータス</th>
  </tr>
  <% @users.each do |user| %>
  <tr>
    <th><%= user.id %></th>
    <th>
      <%= link_to admin_user_path(user) do %>
        <%= user.last_name %><%= user.first_name %>
      <% end %>
    </th>
    <th><%= user.email %></th>
    <th></th>
  </tr>
  <% end %>
</table>