<h1>投稿一覧</h1>
<div class="container">
  <% if current_user.login_id != "guestuser" %>
    <div><%= link_to '新規投稿', new_cosme_item_path, class: 'btn btn-secondary' %></div>
  <% end %>
  <div class="row">
    <% @cosmeitems.each do |cosmeitem| %>
    <div class="col-md-3">
      <%= link_to cosme_item_path(cosmeitem.id) do %> 
          <% if cosmeitem.image.attached? %>
            <%= image_tag cosmeitem.image, size: "200x200" %>
          <% else %>
            <%= image_tag 'no_image', size: "200x200" %>
          <% end %>
          <br/>
        <%= cosmeitem.cosme_name %>
      <% end %>
       <%#= link_to user_path(@user) do %><br />
        <%= cosmeitem.user.nickname %>
        <%# end %><br />
    </div>
    <% end %>
  </div>
</div>