<div class="container">
  <h4>投稿一覧</h4>
  <div class="row">
    <div class="col-4">
      <% if current_user.login_id != "guestuser" %>
        <div><%= link_to '新規投稿', new_cosme_item_path, class: 'btn btn-secondary' %></div>
      <% end %>
    </div>
    <div class="col-8">
      <%= form_with url: cosme_items_path, local: true, method: :get do |f| %>
        <%= f.select :rank, options_for_select([['新着順'], ['閲覧数']]) %>
        <%= f.submit "並び替え", class: "btn btn-outline-secondary my-2 my-sm-0 btn-sm" %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-5">
      <p>カテゴリー</p>
      <% @cosme_categories.each do |category| %>
        <div class="dropright">
          <a class="dropdown-toggle text-secondary" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= category.name %>
          </a>
        
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <% category.children.each do |child_category| %>
              <%= link_to child_category.name, cosme_items_path({category_id: child_category.id}), class: "dropdown-item" %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-9">
      <div class="row">
      
          <%= render 'public/cosme_items/index', cosmeitems: @cosmeitems %>
        
      </div>
      <%#= paginate @cosme_items %>
    </div>
  </div>
</div>