<h1>投稿一覧</h1>
 
<div class="container">
  <% if current_user.login_id != "guestuser" %>
    <div><%= link_to '新規投稿', new_cosme_item_path, class: 'btn btn-secondary' %></div>
  <% end %>
  <%= form_with url: cosme_items_path, local: true, method: :get do |f| %>
   <%= f.select :rank, options_for_select([['新着順'], ['閲覧数']]) %>
   <%= f.submit "並び替え", class: "btn btn-outline-secondary my-2 my-sm-0" %>
　<% end %>
  <div class="row">
    
  <%= render 'public/cosme_items/index', cosmeitems: @cosmeitems %>
    
  </div>
</div>