<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h4>新規投稿</h4>
      <% if @cosmeitem.errors.any? %>
        <%= @cosmeitem.errors.count %>件のエラーが発生しました
        <ul>
          <% @cosmeitem.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
      <%= form_with model: @cosmeitem, url: cosme_items_path, method: :post do |f| %>
        <div class="form-group">
          <label>コスメ名</label><br>
          <%= f.text_field :cosme_name %>
        </div>
        <div class="form-group">
          <label>コスメ内容</label><br>
          <%= f.text_area :description, size:"55x3" %>
        </div>
        <div class="form-group">
          <label>ハッシュタグ入力欄</label><br>
          <%= f.text_area :hashbody, size:"55x3" %>
        </div>
        <div class="form-group">
          <label>カテゴリー選択</label><br>
          <%= f.select :cosme_category_id, options_from_collection_for_select(@cosmecategorys, :id, :name), {include_blank: "選択してください"} %>
          <% @cosmecategorys.each do |cosmecategory| %>
          <div id="category_box_<%= cosmecategory.id %>" class="category_box" style="display:none;">
            <%= f.select :cosme_category_id, options_from_collection_for_select(CosmeCategory.where(ancestry: cosmecategory.id), :id, :name) %>
          </div>
          <% end %>
        </div>
        <div class="form-group">
          <label>画像</label><br>
          <%= f.file_field :image, accept: "image/*" %>
        </div>
        <div class="form-group">
          <%= f.submit '投稿', class: 'btn btn-secondary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
$(function() {
  $('.category_box').find('input,select,button').prop('disabled', true);
   $('#cosme_item_cosme_category_id').change(function(){
       //category_boxを探して、selectタグを探し無効化する
         $('.category_box').find('input,select,button').prop('disabled', true);
         //category_boxを探して、画面上から非表示にする
          $('.category_box').hide();
          //category_idの変数にcosme_item_cosme_category_idを選択されたvalueの値を確認
       category_id = document.getElementById('cosme_item_cosme_category_id').value;
       //category_idの入ったcategory_boxのidを探し、その部分だけselectタグを有効化する
         $(`#category_box_${category_id}`).find('input,select,button').prop('disabled', false);
         //category_idの入ったcategory_boxのidを探し、その部分だけ画面上に表示する
         $(`#category_box_${category_id}`).show();
    });
});
</script>
