<h1>お気に入り一覧</h1>

<% @bookmarks.each do |bookmark| %>

  <% if bookmark.cosme_item.image.attached? %>
    <%= image_tag bookmark.cosme_item.image, size: "200x200" %>
  <% else %>
    <%= image_tag 'no_image', size: "200x200" %>
  <% end %>

  <div><%= bookmark.cosme_item.user.nickname %></div>
  <div>
    <%= link_to cosme_item_path(bookmark.cosme_item) do %>
      <%= bookmark.cosme_item.cosme_name %>
    <% end %>
  </div>

<% end %>