<header class="sticky-top">
  <nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">cosme cafe</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
        <% if user_signed_in? && current_user.login_id == 'guestuser' %>
          <li class="navbar-item">
            <%= link_to 'ABOUT', about_path(), class: 'nav-link text-secondary' %>
          </li>
          <li class="navbar-item">
            <%= link_to '投稿一覧', cosme_items_path(), class: 'nav-link text-secondary' %>
          </li>
          <li class="navbar-item">
            <%= link_to 'ログアウト', destroy_user_session_path(), method: :delete, class: 'nav-link text-secondary' %>
          </li>
          <li class="form-inline my-2 my-lg-0">
          <%= form_with url: search_path, local: true, method: :get do |f| %>
            <%= f.select :range, options_for_select([['会員'], ['キーワード']]), {}, class: "form-control" %>
            <%= f.text_field :word, type: "text", placeholder: "Search", class: "form-control mr-sm-2" %>
            <button class="btn btn-secondary" type="submit"><i class="fas fa-search"></i></button>
          <% end %>
          </li>
        <% elsif admin_signed_in? %>
          <li class="navbar-item">
            <%= link_to 'ログアウト', destroy_admin_session_path(), method: :delete, class: 'nav-link text-secondary' %>
          </li>
        <% elsif user_signed_in? %>
          <li class="navbar-item">
            <%= link_to 'マイページ', user_path(current_user), class: 'nav-link text-secondary' %>
          </li>
          <li class="navbar-item">
            <%= link_to '投稿一覧', cosme_items_path(), class: 'nav-link text-secondary' %>
          </li>
          <li class="navbar-item">
            <%= link_to 'ログアウト', destroy_user_session_path(), method: :delete, class: 'nav-link text-secondary' %>
          </li>
          <li class="form-inline my-2 my-lg-0">
          <%= form_with url: search_path, local: true, method: :get do |f| %>
            <%= f.select :range, options_for_select([['会員'], ['キーワード']]), {}, class: "form-control" %>
            <%= f.text_field :word, type: "text", placeholder: "Search", class: "form-control mr-sm-2" %>
            <button class="btn btn-secondary btn-sm" type="submit"><i class="fas fa-search"></i></button>
          <% end %>
           </li>
        <% else %>
          <li class="navbar-item">
            <%= link_to 'ABOUT', about_path, class: 'nav-link text-secondary' %>
          </li>
          <li class="navbar-item">
            <%= link_to 'ログイン', new_user_session_path(), class: 'nav-link text-secondary' %>
          </li>
          
          <li class="navbar-item">
            <%= link_to '新規登録', new_user_registration_path(), class: 'nav-link text-secondary' %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>